<h1>Welcome to the about page!</h1>

<button><%= link_to 'Articles Listing', articles_path%></button>
<button><%= link_to 'Home', root_path%></button>
<button><%= link_to 'Our Services', services_path%></button>