<h1>Welcome to the Services Page</h1>

<button><%= link_to 'Articles Listing', articles_path%></button>
<button><%= link_to 'Home', root_path%></button>
<button><%= link_to 'About Us', about_path%></button>