@import 'bootstrap/dist/css/bootstrap';

    .navbar {
      background-color: #415364 !important;
     }

     .nav-link {
        color: white !important;
     }

     #logo {
        float: left;
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-weight: bold;
      }
      
      #logo:hover {
        color: #FF7F40;
        text-decoration: none;
      }

      #home-container {
          margin-top: 25px;
      }

      .jumbotron {
          background-color: #FF7F40;
          height: 425px;
      }

      html,
      body {
        height: 100%;
      }
      
      #page-content {
        flex: 1 0 auto;
        background-color: #f4f4f4;
      }
      
      #sticky-footer {
        flex-shrink: none;
      }

      .card-header {
          background-color: #415364 !important;
      }
      .card-title {
          color: #FF7F40 !important;
      }
      .btn-orange {
          background-color: #FF7F40;
      }
      
/*Pagination Style*/
.digg_pagination {
  text-align: center;
  background: #f4f4f4;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.7em;
    border-radius: 5px;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #415364;
    color: #FF7F40;
    border: 1px solid #415364; }
  .digg_pagination a {
    text-decoration: none;
    color: #415364;
    border: 1px solid #415364; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #415364;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #415364;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }