<h1 class="text-center mt-4">Edit Category</h1>
<div class="container bg-white p-5 shadow rounded">
  <div class="row justify-content-md-center">
    <div class="col-8">
      <%= render 'form' %>
    </div>
  </div>
</div>
